<div>
    {{!-- con el # abrimos y con el / cerramos. con el this iteramos en cada objeto que itera el each --}}
    {{user.nombre}}
    {{#if isAdm}}
        <h3>Es Admin</h3>
        {{#each food}}
            <p>{{this.name}}</p>
            <p>{{this.precio}}</p>
        {{/each}}
    {{else}}
        <h3>es user</h3>
    {{/if}}
</div>
<script src="static/js/index.js"></script>