<h3 class="font-bold text-2xl p-3 text-center text-gray-500 bg-gray-800">Realtime Productos</h3>
<div class="container mx-auto p-4 bg-white">
    <div class="w-full md:w-1/2 lg:w-1/3 mx-auto my-12">
        <form class="formProduct flex flex-col mt-4">
            <input placeholder="Titulo" type="text" name="title"
                class=" my-2 block px-4 py-3 w-full rounded-md bg-gray-100 focus:border-gray-500 focus:bg-white focus:ring-0 text-sm">
            <input placeholder="Categoria" type="text" name="category"
                class="my-2 block px-4 py-3 w-full rounded-md bg-gray-100  focus:border-gray-500 focus:bg-white focus:ring-0 text-sm">
            <input placeholder="Precio" type="text" name="price"
                class=" my-2 block px-4 py-3 w-full rounded-md bg-gray-100 focus:border-gray-500 focus:bg-white focus:ring-0 text-sm">
            <input placeholder="Descripción" type="text" name="description"
                class=" my-2 block px-4 py-3 w-full rounded-md bg-gray-100 focus:border-gray-500 focus:bg-white focus:ring-0 text-sm">
            <input type="submit" value="enviar"
                class=" my-2 block mt-4 px-4 py-3 leading-6 text-base rounded-md border text-white focus:outline-none bg-blue-500 text-blue-100 hover:text-white focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 cursor-pointer inline-flex items-center w-full justify-center items-center font-medium focus:outline-none">
        </form>
    </div>
    <table class="w-full table-collapse">
        <thead>
            <tr>
                <th class="text-sm text-left uppercase font-semibold text-grey-darker p-3 bg-gray-200">
                    Name
                </th>
                <th class="text-sm text-left uppercase font-semibold text-grey-darker p-3 bg-gray-200">
                    Category
                </th>
                <th class="text-sm text-left uppercase font-semibold text-grey-darker p-3 bg-gray-200">
                    Description
                </th>
                <th class="text-sm text-left uppercase font-semibold text-grey-darker p-3 bg-gray-200 text-center">
                    Price
                </th>
                <th class="text-sm uppercase font-semibold text-grey-darker p-3 bg-gray-200"></th>
            </tr>
        </thead>
        <tbody class="align-baseline listProducts">


        </tbody>
    </table>

</div>


<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io()

    const form = document.querySelector('.formProduct')
    form.addEventListener('submit', e => {
        e.preventDefault()
        let title = form.elements.title.value
        let category = form.elements.category.value
        let price = form.elements.price.value
        let description = form.elements.description.value

        const newProduct = {title, category, price, description}

        socket.emit('addProduct', newProduct)

        form.reset()

    })


    socket.on('productos', data => {


        let list = document.querySelector('.listProducts')
        let productos = ''
        data.forEach((product) => {
            const { title, category, price, description } = product
            productos += 

                `
                <tr class="group cursor-pointer hover:bg-gray-100">
                    <td class="text-sm p-3 border-t border-grey-light whitespace-no-wrap">
                        ${title}
                    </td>
                    <td class="text-sm p-3 border-t border-grey-light whitespace-no-wrap">
                        ${category}
                    </td>
                    <td class="text-sm p-3 border-t border-grey-light whitespace-no-wrap">
                        ${description}
                    </td>
                    <td class="text-sm p-3 border-t border-grey-light whitespace-no-wrap text-center">
                        $${price}
                    </td>
                    <td class="text-sm p-3 border-t border-grey-light whitespace-no-wrap text-sm group-hover:visible">
                    </td>
                </tr>
                `

        })
        list.innerHTML = productos
    })
</script>